/*styles sheet sass*/

// Library

@import 'Library/normalize' ;
@import 'settings/variables' ;

// Partials

@import 'Partials/partial_index' ;
@import 'Partials/partial_proyecto' ;
@import 'Partials/header' ;
@import 'Partials/footer' ;
@import 'Partials/healpers' ;
@import 'Partials/partial_repo' ;
@import 'Partials/switch.scss' ;
@import 'Partials/global' ;
@import 'Partials/movile';
@import 'Partials/tablet';
