/*styles sheet sass*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
body {
  background-color: #0A1128; }

.header {
  background-color: #1282A2;
  height: 64px;
  margin: 0; }

.header-list {
  float: right;
  padding-right: 40px; }

.header-list-nav li {
  float: left;
  list-style: none; }
  .header-list-nav li a {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none; }

.header-list-nav li + li {
  margin-left: 70px; }

.header-logo img {
  float: left;
  width: 78px;
  height: 70px;
  margin-left: 70px; }
