//estilos del header global
.header{

  background-color: #1282A2 ;
  height: 64px ;
  margin: 0;
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
}

.header-list{

  float: right ;
  padding-right: 40px;

}

.header-list-nav {

  li{

    float: left ;
    list-style: none ;

    a{
      color: #ffffff ;
      font-size: 14px;
      text-decoration: none ;
    }
  }
  li+li{

    margin-left: 70px ;
  }
}

.header-logo img{

  float: left ;
  width: 78px;
  height: 70px;
  margin-left: 70px;
}
