
.main-pro-info {

  color: #ffffff ;
  text-align: center ;

  h2 {

    font-size: 64px ;
    margin-top: 175px ;
    margin-bottom: 100px ;
  }

  p {

    font-size: 24px ;
    margin-bottom: 255px ;
  }
}
