
.main-repo-info {

  color: #000000 ;
  margin-top: 180px ;
  margin-bottom: 185px ;
  text-align: center ;

  h2 {

    font-size: 64px ;
  }

  p {

    font-size: 24px ;
  }

  body.dark & {

    color: #ffffff ;
  }
}
